@model RecipesPlus.Web.ViewModels.Recipes.SingleRecipeViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h1 class="text-center">@Model.Name</h1>

<div class="text-center">
    <img src="@Model.ImageUrl" class="img-fluid img-thumbnail mx-auto" style="max-width: 100%; height: auto" alt="@Model.Name">
</div>

<hr />

<div class="container">
    <div class="row breadcrumb font-italic">
        <div class="col-sm">
            <i class="fas fa-list-ul"></i> Категория: @Model.CategoryName
        </div>
        <div class="col-sm">
            <i class="fas fa-clock"></i> Приготвяне: @Model.PreparationTime.TotalMinutes минути
        </div>
        <div class="col-sm">
            <i class="fas fa-clock"></i> Готвене: @Model.CookingTime.TotalMinutes минути
        </div>
        <div class="col-sm">
            <i class="fas fa-pizza-slice"></i> Порции: @Model.PortionCount
        </div>
    </div>
</div>


<hr />

<div class="container">
    <div class="row breadcrumb font-italic">
        <div class="col-sm">
            Рецептата е добавена от: <i class="fas fa-user"></i> @Model.AddedByUserUserName
        </div>
        <div class="col-sm">
            Добавена на: <i class="fas fa-calendar-times"></i> @Model.CreatedOn.ToShortDateString()
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row breadcrumb">
        <div class="col-sm font-italic">
            <h4>НЕОБХОДИМИ СЪСТАВКИ:</h4>
            <ul>
                @foreach (var ingredient in Model.Ingredients)
                {
                    if (ingredient.Quantity == null)
                    {
                        <li>@ingredient.IngredientName</li>
                    }
                    else
                    {
                        <li>@ingredient.Quantity - @ingredient.IngredientName</li>
                    }
                }
            </ul>
            <ul>
                <li data-vote="1"><i class="far fa-star"></i></li>
                <li data-vote="2"><i class="far fa-star"></i></li>
                <li data-vote="3"><i class="far fa-star"></i></li>
                <li data-vote="4"><i class="far fa-star"></i></li>
                <li data-vote="5"><i class="far fa-star"></i></li>
                <li><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span></li>
            </ul>
        </div>
        <div class="col-sm font-italic">
            <h4>НАЧИН НА ПРИГОТВЯНЕ:</h4>
            <p>@Model.Instructions</p>
        </div>
    </div>
</div>

<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var recipeId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { recipeId: recipeId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}
