@using RecipesPlus.Common
@model RecipesPlus.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>
<hr />
<div class="row">
    @foreach (var recipe in this.Model.RandomRecipes)
    {
        <div class="media col-md-4">
            <img src="@recipe.ImageUrl" width="100" class="mr-3 img-responsive">
            <div class="media-body">
                <h5 class="mt-0"><a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id">@recipe.Name</a></h5>
                @recipe.CategoryName
            </div>
        </div>
    }
</div>

<hr />
<div class="offset-4 col-md-4">
    <p>We have:</p>
    <ul class="list-group">
        <li class="list-group-item bg-info">Recipes: @Model.RecipesCount</li>
        <li class="list-group-item bg-info">Categories: @Model.CategoriesCount</li>
        <li class="list-group-item bg-info">Ingredients: @Model.IngredientsCount</li>
        <li class="list-group-item bg-info">Images: @Model.ImagesCount</li>
    </ul>
</div>
